* {
  box-sizing: border-box;
}
select {
  background-color: black;
  color: white;
  border-radius: 20px;
}
body {
  margin: 0;
  color: black;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
header {
  background-color: black;
  color: white;
  width: 100%;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerRight {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  gap: 60px;
}
.secondMenu {
  display: none;
}
ul li {
  list-style: none;
}
.left {
  width: 25%;
  align-self: flex-start;
}
.right {
  width: 70%;
  padding: 20px;
  margin-top: 0;
  padding-top: 0;
  border-left: solid black 2px;
}
.leftImg a h2 {
  font-size: 24px;
  color: white;
  margin: 0;
}
.leftImg a p {
  color: white;
}
.leftImg {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
.left a {
  color: black;
  font-weight: bold;
  display: block;
  font-size: 24px;
  margin-top: 20px;
}
.sec .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}
.leftImg {
  background: url(./img/jermall.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 100%;
  border-radius: 20px;
}
.rightTop {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.topLeft {
  width: 20%;
  align-self: flex-start;
}
.topRight {
  width: 70%;
}
.topLeft a h3 {
  color: black;
  margin: 0;
}
.topLeft img {
  width: 100px;
  height: 70px;
}
.info img {
  height: 200px;
  width: 300px;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
}
.shortcut {
  margin-top: 20px;
}
.shortcut img {
  border-radius: 10px;
}
.shortcut:first-child {
  margin-top: 0;
}
.rightBottom {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.rightBottom p {
  margin: 0;
}
.option {
  width: 50%;
}
.option p {
  display: inline;
}
.button {
  align-self: flex-end;
}
footer {
  background-color: black;
  color: white;
  padding: 20px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0;
}
footer h3 {
  margin: 0;
  border-bottom: 1px white solid;
}
.footerFirst {
  width: 10%;
}
.footerFirst ul {
  padding: 0;
}
.footerSecond {
  width: 30%;
}
.footerThird {
  width: 10%;
}
@media screen and (max-width: 900px) and (min-width: 654px) {
  .firstMenu {
    gap: 20px;
  }
  .left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
  }
  .leftImg {
    width: 30%;
  }
  .right {
    width: 100%;
    border-top: solid 2px black;
    border-left: none;
    padding-top: 20px;
  }
  .info img {
    width: 450px;
    height: 250px;
    float: none;
  }
  .sec .container {
    display: block;
  }
  footer .container {
    justify-content: space-evenly;
  }
  .footerFirst {
    width: 30%;
  }
  .footerSecond {
    width: 30%;
  }
}
@media screen and (max-width: 653px) {
  .container {
    max-width: 480px;
    margin: auto;
    width: 100%;
  }
  header .container {
    flex-wrap: wrap;
  }
  .headerRight {
    justify-content: end;
    width: 50%;
  }
  .firstMenu {
    display: none;
  }
  .secondMenu {
    display: flex;
    gap: 20px;
  }
  .sec .container {
    display: block;
  }
  .left {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 2px black solid;
    padding-bottom: 20px;
  }
  .left a {
    text-align: center;
  }
  .leftImg a {
    text-align: start;
  }
  .right {
    display: block;
    border-left: none;
    width: 100%;
  }
  .topLeft {
    width: 100%;
    text-align: center;
  }
  .topRight {
    width: 100%;
  }
  .rightTop {
    display: block;
  }
}
