* {
  box-sizing: border-box;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div {
  background: url(./mike-tyson.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
  margin: 20px;
}
@media screen and (max-width: 800px) {
  div {
    max-width: 100px;
    max-height: 100px;
  }
}
@media screen and (max-width: 600px) {
  div {
    max-width: 50px;
    max-height: 50px;
  }
}
