* {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 300vh;
  margin: 0;
}

#button {
  height: 50px;
  width: 70px;
  border-radius: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: white;
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
